# احصل على مفتاح SubDL مجاناً من: https://subdl.com/panel/api
SUBDL_API_KEY=ضع_مفتاح_subdl_هنا

# احصل على مفتاح SubSource من صفحة حسابك بعد تسجيل الدخول: https://subsource.net (My Profile)
SUBSOURCE_API_KEY=ضع_مفتاح_subsource_هنا

# رقم البورت اللي بيشتغل عليه السيرفر محلياً
PORT=7000
